<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginService</servlet-name>
        <servlet-class>com.accure.anchor.service.LoginService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeOrdersService</servlet-name>
        <servlet-class>com.accure.anchor.service.TakeOrdersService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StocksInsertService</servlet-name>
        <servlet-class>com.accure.anchor.service.StocksInsertService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserService</servlet-name>
        <servlet-class>com.accure.anchor.service.CreateUserService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserService</servlet-name>
        <servlet-class>com.accure.anchor.service.UpdateUserService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUserAvailabilityService</servlet-name>
        <servlet-class>com.accure.anchor.service.CheckUserAvailabilityService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchOrgNameService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchOrgNameService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchUserAddressService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchUserAddressService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchUserByRolesService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchUserByRolesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchUserService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchUserService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchAllZoneService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchAllZoneService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchSalesExecutiveService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchSalesExecutiveService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchRetailerNameService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchRetailerNameService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRouteService</servlet-name>
        <servlet-class>com.accure.anchor.service.AddRouteService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchRouteByUserIdService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchRouteByUserIdService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchRouteByIdService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchRouteByIdService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRouteService</servlet-name>
        <servlet-class>com.accure.anchor.service.UpdateRouteService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchAllOrgService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchAllOrgService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchChildOrganizationsService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchChildOrganizationsService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchUserByIdService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchUserByIdService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchDistributorListService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchDistributorListService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchZoneService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchZoneService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchRetailerListService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchRetailerListService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchItemMasterService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchItemMasterService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchTaxMasterService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchTaxMasterService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchAllStocksService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchAllStocksService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchRetailerByDistributorService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchRetailerByDistributorService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRetailerService</servlet-name>
        <servlet-class>com.accure.anchor.service.CreateRetailerService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchRetailerDetailsService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchRetailerDetailsService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchDistributorAllZonesService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchDistributorAllZonesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRetailerService</servlet-name>
        <servlet-class>com.accure.anchor.service.UpdateRetailerService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchItemService</servlet-name>
        <servlet-class>com.accure.anchor.service.SearchItemService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchDistributorRoutesService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchDistributorRoutesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchTaxPercentageService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchTaxPercentageService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderService</servlet-name>
        <servlet-class>com.accure.anchor.service.CreateOrderService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordService</servlet-name>
        <servlet-class>com.accure.anchor.service.ChangePasswordService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchDSSalesPersonService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchSalesPersonService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchOrderListService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchOrderListService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchOrderDetailsService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchOrderDetailsService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateInvoiceService</servlet-name>
        <servlet-class>com.accure.anchor.service.CreateInvoiceService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadStockService</servlet-name>
        <servlet-class>com.accure.anchor.service.UploadStockService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintInvoiceService</servlet-name>
        <servlet-class>com.accure.anchor.service.PrintInvoiceService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchDistributorAddressService</servlet-name>
        <servlet-class>com.accure.anchor.service.FetchDistributorAddressService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutService</servlet-name>
        <servlet-class>com.accure.anchor.service.LogoutService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <!--<welcome-file>./jsp/index.jsp</welcome-file>-->
        <welcome-file>./home.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>TakeOrdersService</servlet-name>
        <url-pattern>/TakeOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StocksInsertService</servlet-name>
        <url-pattern>/StocksInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserService</servlet-name>
        <url-pattern>/CreateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserService</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUserAvailabilityService</servlet-name>
        <url-pattern>/CheckUserAvailability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchOrgNameService</servlet-name>
        <url-pattern>/FetchOrgName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchUserAddressService</servlet-name>
        <url-pattern>/FetchUserAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchUserByRolesService</servlet-name>
        <url-pattern>/FetchUserByRoles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchUserService</servlet-name>
        <url-pattern>/FetchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchAllZoneService</servlet-name>
        <url-pattern>/FetchAllZone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchSalesExecutiveService</servlet-name>
        <url-pattern>/FetchSalesExecutive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchRetailerNameService</servlet-name>
        <url-pattern>/FetchRetailerName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRouteService</servlet-name>
        <url-pattern>/AddRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchRouteByUserIdService</servlet-name>
        <url-pattern>/FetchRouteByUserId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchRouteByIdService</servlet-name>
        <url-pattern>/FetchRouteById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRouteService</servlet-name>
        <url-pattern>/UpdateRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchAllOrgService</servlet-name>
        <url-pattern>/FetchAllOrg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchChildOrganizationsService</servlet-name>
        <url-pattern>/FetchChildOrganizations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchUserByIdService</servlet-name>
        <url-pattern>/FetchUserById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchDistributorListService</servlet-name>
        <url-pattern>/FetchDistributorList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchZoneService</servlet-name>
        <url-pattern>/FetchZone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchRetailerListService</servlet-name>
        <url-pattern>/FetchRetailerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchItemMasterService</servlet-name>
        <url-pattern>/FetchItemMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchTaxMasterService</servlet-name>
        <url-pattern>/FetchTaxMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchAllStocksService</servlet-name>
        <url-pattern>/FetchAllStocks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchRetailerByDistributorService</servlet-name>
        <url-pattern>/FetchRetailerByDistributor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRetailerService</servlet-name>
        <url-pattern>/CreateRetailer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchRetailerDetailsService</servlet-name>
        <url-pattern>/FetchRetailerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchDistributorAllZonesService</servlet-name>
        <url-pattern>/FetchDistributorAllZones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRetailerService</servlet-name>
        <url-pattern>/UpdateRetailer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchItemService</servlet-name>
        <url-pattern>/SearchItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchDistributorRoutesService</servlet-name>
        <url-pattern>/FetchDistributorRoutes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchTaxPercentageService</servlet-name>
        <url-pattern>/FetchTaxPercentage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderService</servlet-name>
        <url-pattern>/CreateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordService</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchDSSalesPersonService</servlet-name>
        <url-pattern>/FetchDSSalesPerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchOrderListService</servlet-name>
        <url-pattern>/FetchOrderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchOrderDetailsService</servlet-name>
        <url-pattern>/FetchOrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateInvoiceService</servlet-name>
        <url-pattern>/CreateInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadStockService</servlet-name>
        <url-pattern>/UploadStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintInvoiceService</servlet-name>
        <url-pattern>/PrintInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchDistributorAddressService</servlet-name>
        <url-pattern>/FetchDistributorAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutService</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
