/* 
    Document   : invoice
    Created on : Apr 9, 2015, 12:05:50 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.invoice-table{
    margin-left:1%;
    width:90%;
    height:100px;
}
.invoice-header{
    border: 2px solid #ddd;
    height: 30px;
}
@page :first {
    margin-top: 3%    /* Top margin on first page 2% */
}
@page{
    size: 9.5in 11in;
    /*margin: 15%;*/
    margin-bottom: 1.5%;
    margin-top: 1.5%;

}
@media print { .no-print, .no-print * { display: none !important; } }
/*invoice-table,tr{
    height:30px;
}*/

/*.input-image{
    background-color: red;
    background-image: url("accuresoftware.png");
}*/